*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(224, 189, 189);
    padding: 10px;
}
ul li {
    list-style: none;
}
button{
    padding: 10px;
    width: 7%;
    background:#0720ff;
    border: none;
    border-radius: 3px;
    color: antiquewhite;
    font-size: 19px;
    cursor: pointer;
}
.icons{
    width: 60%;

}
ul{
    display: flex;
    justify-content: space-evenly;
}
.profile{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.add-post{
    width: 60%;
    height: 120px;
    background: rgb(214, 182, 182);
    margin: auto;
    border-radius: 3px;
    margin-top: 27px;
}
.cirles-profile{
    display: flex;
    padding: 6px;
    /* margin-top: 40px; */

}
.profile img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
.cirles-profile input{
    border: none;
    background: none;
    outline: none;

}

/* .add-post .buttons{
    margin:  auto;
} */
.buttons button{
    width: 85%;
    padding: 2px;
    /* height: 25px; */
    margin-left: 40px;
    margin-top: -5px;

}
.buttons button a{
    color: aliceblue;
    font-size: 15px;
}





/* post */

.post{
    display: flex;
    justify-content: space-between;
}
.post_container{
    width: 40%;
    height: 300px;
    margin: auto;
    border-radius: 18px;
}
.post{
    margin-top: 30px;
    border-bottom: 1px solid gray;
}
.post button{
    width: 20%;
    height: 40px;
    background: rgb(48, 35, 219);
    border-radius: 5px;
    cursor: pointer;
}


.logo-profile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 20px;
}
/* .logo-profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 20px;
} */
.circle-profile-name{
    display: flex;
    align-items: center;
}
.circle-profile-name img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.circle-profile-name h3{
    margin-left: 8px;
}
.content input{
    margin-top: 40px;
    font-weight: bold;
    width: 100%;
    padding: 4px;
}
.content input:hover{
    border-bottom: 1px solid blue;
}


.upload-img{
    margin-top: 19px;
    width: 100%;
    height: 190px;
    background: rgb(216, 162, 162);
    border-radius: 3px;
}

.show-post{
    height: 490px;
    margin-top: 25px;
}
.content-post{
    margin: 10px;
}
.photo-post{
    width: 95%;
    height: 224px;
    margin: auto;
    border-radius: 3px;
    background: rgb(129, 117, 117);
}
.cirles-profile p{
    margin-top: 25px;
    font-weight: bold;
}
.content input:hover{
    border-bottom: 1px solid blue;
}




.like-comment{
    width: 95%;
    border-radius: 3px;
    padding: 6px;
    margin-top: 30px;
    margin-left: 10px;
    background: #eee;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.like a i{

    color: rgb(25, 11, 235);
}

.delete{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete_edit{
    margin:  25px;
}